<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %> </title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
  </head>
  <header class="nav-header-container"><%- include('partials/header')%></header>
  <body>
    <% if (currentUser) { %>
      <form action="" method="POST">
        <label for="title">Title</label>
        <input type="text" name="title" <% if(locals.message) {%> value="<%= message.title %>" <% } %>/>
        <label for="message">Message</label>
        <textarea  name="message" rows="5" cols="100"><% if(locals.message) {%> value="<%= message.text %>" <% } %></textarea>
        <button>Submit</button>
    </form>
    <% } else { %>
      <h1>Please login before attempting to compose a message!</h1>
      <a href="/login-form">LOGIN</a>
      <% } %> 
    <% if (locals.errors) { %>
    <ul>
      <% errors.forEach(error => { %>
      <li><%- error.msg %></li>
      <% }) %>
    </ul>
    <% } %>
  </body>
  <footer>
    <div class="social-container">
      <img src="../images/GitHub-Mark-Light-120px-plus.png" alt="github logo" id="github-logo" />
      <a href="https://github.com/fpsbowser/members_club" id="social-link">fpsbowser</a>
    </div>
  </footer>
</html>
