<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  
  <header class="nav-header-container"><%- include('partials/header')%></header>
  <body>
    <h1><%= title %></h1>
    <% if (currentUser) { %>
        <h2>Welcome to the club <%= currentUser.username %></h2>
    <% } else { %>
     <p>Welcome to <%= title %></p>
    <%}%>
    <h1>Messages from the Club</h1>
    <% if (messages.length) { %>
         <% messages.forEach(message => { %>
    <div class="message-card">
      <p id="message-title">Title: <%= message.title %></p>
      <p id="message">Message: <%= message.text %></p>
      <% if (!currentUser) { %>
       <p>Author: Anonymous</p>
       <p>Date: Anonymous</p>
      <% } else { %>
        <p>Author: <%= message.owner.username %> </p>
        <p>Date: <%= message.timestamp %> </p>
        <% if (currentUser.isadmin) { %>
          <form action="/" method="post">
            <input type="hidden" name="messageid" value="<%= message._id %>">
            <button id="delete-btn" type="submit">DELETE</button>
          </form>
        <% } %>
      <% } %> 
    </div>
    <% }) %>
    <% } else { %>
      <h1>Theres currently no messages!</h1>  
    <% } %> 

  </body>
</html>
